@font-face {
	font-family: Text;
	src: local('Humanistic'), url('./humanistic.ttf') format('truetype');
}

@font-face {
	font-family: Headline;
	font-weight: bold;
	src: local('Humanistic'), url('./humanistic.ttf') format('truetype'); 
}

@page {
	size: A4;
	margin-top: 3cm;
	margin-bottom: 3cm;
	margin-left: 2cm;
	margin-right: 2cm;
}

@page :first{
	@bottom-center {
	}
	background: none;
}
@page {
	@bottom-center{
		content: counter(page);
		font-family: Text, Humanistic;
		padding-right: 0.5cm;
		font-size: 14pt;
	}
}

@page :right{
	background: url('ecke3_.png') bottom right no-repeat;
}

@page :left{
	background: url('ecke_.png') top left no-repeat;
}

.school{
	display: inline;
}
.subschool{
	display: inline;
}
.subschool::before{
	content: "(";
}
.subschool::after{
	content: ")";
}
.descriptors {
	display:inline;
}

h1 {
	margin-top: 5cm;
	margin-bottom: 8cm;
	font-size: 70pt;
	font-family: Headline, Humanistic;
	text-align: center;
}
h2 {
	font-size: 40pt;
	font-family: Headline, Humanistic;
	text-align: center;
	page-break-after:right;
}

h2::before {
	content: "By ";
}

#toc::before {
	content: "Table of contents";
	font-size: 20pt;
	font-weight: bold;
	font-family: Headline, Humanistic;
	margin-bottom: 1em;
}

#toc {
	counter-reset: page;
	page-break-before: always;
	page-break-after: always;
	font-family: Text, Humanistic;
}

#toc ol {
	padding-left: 2cm;
}

#toc li{
	display: block;
}

#toc a{
	color: black;
	text-decoration: none;
}

#toc a::after{
	content: leader(dotted) " " target-counter(attr(href, url), page);
}

.d20class:first-child {
	counter-reset: page;
}

.d20class::before {
	content: "Class: ";
}

.d20class {
	font-size: 40pt;
	font-family: Headline, Humanistic;
	page-break-before: always;
	page-break-after: always;
	margin-top: 10cm;
	text-align: center;
}

.level {
	font-size: 30pt;
	font-family: Headline, Humanistic;
	text-align: center;
}

.spells{
	column-count: 2;
	column-gap: 1cm;
	column-fill: auto;
	-moz-column-count: 2;
	-moz-column-gap: 1cm;
	page-break-after: always;
}

.spell {
	font-size: 11pt;
	font-family: Text, Humanistic;
}

.spell .spell_name {
	font-family: Headline, Humanistic;
	font-size: 20pt;
	text-align: center;
	page-break-after: avoid;
	break-after:avoid;
}

.spell .spell_name::after{
	content: url("./line2.png");
	display: block;
	margin: auto auto;
}

.spell .meta::after{
	content: url("./line1.png");
	text-align: center;
	display: block;
	margin: auto auto;
}

.spell .rulebook{
	font-variant: small-caps;
	font-size: 8pt;
	float: left;
}

.spell .classlevel{
	font-variant: small-caps;
	font-size: 8pt;
	float: right;
}

.spell .descriptors, .spell .school, .spell .subschool {
	font-size: 8pt;
}

.spell .spell_text table {
	font-size: 8pt;
	margin: auto auto;
	border-collapse: collapse;
	text-align: left;
}

.spell .spell_text td, .spell .spell_text th {
}

.spell .spell_text {
	text-align: justify;
}
.spell .spell_text p:first-child::first-letter {
    font-size: 400%;
    line-height: 50%;
    font-weight: bold;
    float: left;
}

.spell .header{
	page-break-inside: avoid;
	page-break-after: avoid;
	break-inside:avoid;
	break-after:avoid;
}
.spell .meta {
	clear: both;
}

.meta table{
	margin: 20px auto;
	page-break-after: avoid;
}

.spell .spell_text table{
	page-break-inside: avoid;
	break-inside: avoid;
}

.spell table .value {
	text-align: left;
}

.spell table .label {
	text-align: right;
	font-weight: bold;
}

.spell table .label::after {
	content: ":";
}

